#bg {
    background: rgb(191, 245, 245);
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}

#title {
    font-family: 'Viga', sans-serif;
    text-align: center;
}

#image {
    width:50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    height: auto;
}

#img-caption {
    font-family: 'Noticia Text', serif;
    text-align: center;
}

#tribute-info {
    margin-top: 30px;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 20px;
    font-family: 'Sen', sans-serif;
    line-height: 1.8;
    background: rgb(108, 212, 212);
}

#list {
    list-style-type: circle;
}

#foot {
    text-align: center;
    font-family: 'Sen', sans-serif;
}

a:link {
    color:black;
}