#bg {
    background: rgb(182, 250, 250);
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}

#title {
    font-family: monospace;
    text-align: center;
}

#image {
    width:50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#img-caption {
    font-family: cursive;
    text-align: center;
}

#tribute-info {
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 20px;
    font-family: sans-serif;
    line-height: 1.5;
    background: rgb(108, 212, 212);
}

#list {
    list-style-type: circle;
}

#foot {
    text-align: center;
    text-decoration-style: double;
}

a:link {
    color:black;
}